<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: commonHeader (${'Author List'})"></head>
<body>
<div class="container">
    <h1>Author List</h1>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Pseudonym</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <!-- Here, we see the for-each loop and property-access syntax for Thymeleaf, where bookList is in the Spring Model -->
            <tr th:each="author : ${authorList}">
                <td th:text="${author.pseudonym}"></td>
                <td th:text="${author.name}"></td>
                <td th:text="${author.surname}"></td>
                <td th:text="${author.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>