<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: commonHeader (${'Book Detail'})"></head>
<body>
<div class="container">

    <h1>Book Detail</h1>

    <form class="form-horizontal">

        <input type="hidden" th:field="*{id}"/>

        <!-- Book title-->
        <div class="form-group">
            <label class="control-label">
                Title
            </label>
            <p class="form-control-static" th:text="${book.title}"></p>
        </div>

        <!-- Number of pages -->
        <div class="form-group">
            <label class="control-label">
                Number of Pages
            </label>
            <p class="form-control-static" th:text="${book.pageCount}"></p>
        </div>

        <!-- Rating -->
        <div class="form-group">
            <label class="control-label">
                Rating
            </label>
            <p class="form-control-static" th:text="${book.rating}"></p>
        </div>

    </form>
</div>
</body>
</html>