<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: commonHeader (${'Book List'})"></head>
<body>
    <div class="container">
        <h1>Book List</h1>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Page Count</th>
                        <th>Rating</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Here, we see the for-each loop and property-access syntax for Thymeleaf, where bookList is in the Spring Model -->
                    <tr th:each="book : ${bookList}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.pageCount}"></td>
                        <td th:text="${book.rating}"></td>
                        <td>
                            <a th:href="${'/book/detail/' + book.id}">View</a>
                        </td>
                        <td>
                            <a th:href="${'/book/update/' + book.id}">Edit</a>
                        </td>
                        <td>
                            <a th:href="${'/book/delete?id=' + book.id}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <a class="btn btn-default" href="/book/new">Create New Book</a>
        </div>

    </div>
</body>
</html>