<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: commonHeader (${'Index Page'})"></head>
<body>
<div class="container">
    <h1>My index page</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="book/list">Book List</a>
        </li>
        <li class="list-group-item">
            <a href="author/list">Author List</a>
        </li>
        <li class="list-group-item">
            <a href="rest/book/list">RESTful Book Endpoint</a>
        </li>
        <li class="list-group-item">
            <a href="stateflow/bmi">Keep State Amongst Forms Using Session Scope Beans</a>
        </li>
    </ul>
    <h3>The below ID and Page Count serve as examples in the code of using jQuery to hit a REST endpoint hosted by the
        Spring Boot
        container</h3>
    <p class="book-id">The ID is </p>
    <p class="book-pages">The page count is </p>
</div>

</body>

<script>
    // Here we have a regular ajax function calling a RESTful service hosted on the JAR itself
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:8080/rest/book/1"
        }).then(function (data) {
            $('.book-id').append(data.id);
            $('.book-pages').append(data.pageCount);
        });
    });
</script>
</html>